openapi: 3.1.0
info:
  title: Kontent.ai Delivery Assets API
  version: '1.0'
  description: 'Read-only REST API for retrieving published and preview content from a

    Kontent.ai environment. Endpoints and authentication scheme transcribed

    from the public Kontent.ai Learn documentation.

    '
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
    url: https://apievangelist.com
  license:
    name: Documentation reference only
    url: https://kontent.ai/learn/docs/apis/delivery-api
servers:
- url: https://deliver.kontent.ai
  description: Production (published content)
- url: https://preview-deliver.kontent.ai
  description: Preview (latest content, requires authentication)
security: []
tags:
- name: Assets
paths:
  /{environment_id}/assets/{asset_codename}/used-in:
    parameters:
    - $ref: '#/components/parameters/EnvironmentId'
    - in: path
      name: asset_codename
      required: true
      schema:
        type: string
    get:
      summary: List items using an asset
      operationId: assetUsedIn
      responses:
        '200':
          description: List of items referencing the asset
          content:
            application/json:
              schema:
                type: object
      tags:
      - Assets
components:
  parameters:
    EnvironmentId:
      in: path
      name: environment_id
      required: true
      description: Kontent.ai environment identifier (UUID).
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send `Authorization: Bearer <YOUR_DELIVERY_API_KEY>`. Required for

        secure delivery, preview delivery, and secured asset access. The

        default public Delivery API does not require authentication.

        '
